* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f2f2f2;
  padding: 20px 0;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  width: 80%;
}

.gallery__image {
  width: 200px;
  height: 200px;
  justify-self: center;
  object-fit: cover;
  border: 5px solid #333;
  border-radius: 50%;
  transition: border-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.gallery__image:nth-child(4n + 1) {
  border-color: #dc1e35;
}

.gallery__image:hover {
  border-color: #ffff00;
  transform: rotate(45deg);
}

@media (max-width: 900px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
  .gallery__image:nth-child(2n + 1) {
    border-color: #dc1e35;
  }
}

@media (max-width: 500px) {
  .gallery {
    grid-template-columns: 1fr;
  }
  .gallery__image:nth-child(n) {
    border-color: #333;
  }
}
